* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    padding: 6px 10px;
    width: 240px;
}

.add-btn {
    color: #fff;
    background-color: green;
    border: none;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.list {
    margin-top: 30px;
}

.list-item {
    display: flex;
    gap: 5px;
    border-bottom: 1px solid grey;
}

.list-item p{
    padding: 6px;
    width: 290px;
    
}
.list-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}